{% extends 'base.html' %}
{% block title %} User details {% endblock %}

{% block body %}
<h2>Edit a user</h2>
<form action="/users/{{user.id}}/edit" method="POST">
    First name
    <br>
    <input type="text" name ="first_name" value= {{user.first_name}}>
    <br>
    <br>
    Last name
    <br>
    <input type="text" name="last_name" value= {{user.last_name}}>
    <br>
    <br>
    Image URL
    <br>
    <input type="text" name= "profile_img" value= {{user.profile_img}}> 
    <button> <a href="/users/{{user.id}}">Cancel</a> </button>
    <button type= "submit"> Save</button>
</form>    
<br>

{% endblock %}